@-moz-document regexp(".*squall.indeed.com\\/iqlweb.*") {


.dataTables_wrapper .dataTables_filter, .dataTables_wrapper .dataTables_info, .dataTables_wrapper .dataTables_length, .dataTables_wrapper .dataTables_paginate, .dataTables_wrapper .dataTables_processing {
    color: #c1c1c1;
    border: 1px dotted #202020;
}

.dataTables_filter input {
    border: 1px dotted #c1c1c1;
    background: #757575;
}

/* Visualization */
.googlegraph, svg {
    filter: invert(100%);
}

table.dataTable thead tr {
    border-bottom: 1px dotted white;
}

::selection, .CodeMirror-code::selection, ::-moz-selection {
    background: #757575;
    background-color: #757575;
}

.dropdown-items, .ctrllink, .dropdown-item, .goto-dashboard-link, .shortlink-widget-link, select, .pvtAxisContainer, .pvtVals, .btn-default.active.focus, .btn-default.active:focus, .btn-default.active:hover, .btn-default:active.focus, .btn-default:active:focus, .btn-default:active:hover, .open>.dropdown-toggle.btn-default.focus, .open>.dropdown-toggle.btn-default:focus, .open>.dropdown-toggle.btn-default:hover {
    background-color: #303030;
    color: #c1c1c1;
    border: 0px;
}

table.pvtTable tbody tr th, table.pvtTable thead tr th, .form-control, .form-control[disabled], .form-control[readonly], fieldset[disabled] .form-control, .btn-default, .panel-default>.panel-heading {
    background-color: #505050;
    color: #c1c1c1;
    border: 1px dotted #999999;
}


table.pvtTable tbody tr td {
    background-color: #c1c1c1;
    color: #404040;
    font-weight: normal;
}

.pvtAxisContainer li span.pvtAttr {
    background: #fff047;
    border: 0px;
}

.dropdown-item a {
    color: yellow;
}

.panel {
    border: 0px;
    background-color: #303030;
}

.fieldbartoggle, .popularFieldsToggle, .datasetnamesheader, .datasetnamelink, .fieldnamesheader {
    color: #999999;
}

.datasetnamediv:hover, .datasetnamediv:hover a {
    background-color: #808080;
    color: #202020;
}

.frequencybar {
    border: 1px dotted #7aff00;
    background-color: #303030;
}
.fieldnamelinkdiv:hover {
    background-color: #7aff005e;
}

.fieldnamelink:hover {
    color: #ff0;
}

.Stringfield {
    border: 1px dotted #ffc645;
    background-color: #303030;
    color: #ffc645;
}

.Integerfield {
    border: 1px dotted #5be1ff;
    background-color: #303030;
    color: #5be1ff;
}

.fieldnamelink {
    color: #eaeaea;
}

/* Scroll Bars */
/* Track */
::-webkit-scrollbar {
    width: 5px;
  background: #404040;
}
/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}
/* Scroll buttons */
::-webkit-scrollbar-button {
    background: #404040;
}


.CodeMirror-scrollbar-filler {
    background-color: #303030;
}

.CodeMirror div.CodeMirror-cursor {
    border-left: 1px solid #e6e6e6;
}

li.CodeMirror-hint-active {
    color: #ffea00;
    background-color: rgb(79, 79, 79);
    background: rgb(79, 79, 79);
}

.CodeMirror {
    background: rgb(66, 66, 66);
    color: #c0c0c0;
}
.topui, .CodeMirror-gutters, #presentationdiv, .tableresultdiv, .viewtabs, .ui-tabs-tab {
    background-color: rgb(43, 43, 43);
    background: rgb(43, 43, 43);
    color: #c0c0c0;
}

pre, span, input, textarea, [contenteditable] {
    caret-color: #c0c0c0;
}

.ctrllink, .dropdown-item, .goto-dashboard-link, .shortlink-widget-link, select {
    color: #c0c0c0;
    background-color: rgb(43, 43, 43);
}

.ui-state-active a, .ui-state-active a:link, .ui-state-active a:visited, .ui-widget-content {
    color: #060606;
    background-color: rgb(43, 43, 43);
    background: rgb(121, 121, 121);
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.ui-corner-all, .ui-corner-left, .ui-corner-tl, .ui-corner-top {
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
}

.ui-button.ui-state-active:hover, .ui-button:active, .ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active, a.ui-button:active {
    border: 0px;
}

.ui-button, .ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default, html .ui-button.ui-state-disabled:active, html .ui-button.ui-state-disabled:hover, .ui-widget-header {
    border: 0px;
}

.ui-tabs .ui-tabs-nav li {
    margin: 0;
}

.ui-tabs .ui-tabs-nav .ui-tabs-anchor {
    border: 1px solid #c0c0c0;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    margin-top: 5px;
    margin-left: 2px;
    color: white;
}

.stacktrace {
    color: #76ff76 !important;
}

.react-date-picker__month-view--theme-default {
    background: #303030;
}

#presentationdiv .viewtabs>li:not(.presentation-loaded) {
    border-bottom-width: 0px;
}

.ui-button, .ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default, html .ui-button.ui-state-disabled:active, html .ui-button.ui-state-disabled:hover, .dataTables_filter, tbody td, .ui-widget-content a, .showfieldpanel, .presentationgridbox, .dataTables_filter label input, body {
    color: #c0c0c0;
    background-color: rgb(43, 43, 43);
    background: rgb(43, 43, 43);

}

.ui-helper-hidden-accessible, .CodeMirror-hints li:not(.CodeMirror-hint-active), .stacktrace, .stacktrace-toggle {
    color: #c0c0c0;
    background-color: rgb(60, 63, 65);
    background: rgb(60, 63, 65);
}

.CodeMirror-hints li::selection {
    background-color: rgb(35, 89, 126)
}

.CodeMirror-hints {
    background: #303030;
}

.cm-s-default .cm-keyword {
    color: rgb(169, 169, 255);
}

.cm-s-default .cm-number, .btn.focus, .btn:focus, .btn:hover, li.ui-state-hover {
    color: rgb(73, 213, 253);
}

.cm-s-default .cm-identifier {
    color: rgb(255, 156, 102);
}
.cm-s-default .cm-string {
    color: rgb(108, 253, 108);
}

.cm-s-default .cm-timeperiod {
    color: rgb(204, 100, 249);
}

.cm-s-default .cm-comment {
    color: rgb(119, 119, 119);
}

.queryerrormsg div.panel div.panel-body {
    background-color: #ffb3b3 !important;
    color: #8d0101;
}


}