@-moz-document domain("stackedit.io") {
.layout__panel--explorer, .layout__panel--side-bar {
    background-color: #202020;
}

.explorer-node__item, .icon {
    color: #25b025;
}

.menu-entry__text {
    color: #909090;
}

code, .code {
    color: #29ff42;
}
}